<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key= "sendSingleSmsUrl" value="http://metamorphsystems.com/index.php/api/bulk-sms?username={0}{5}password={1}{5}from={2}{5}to={3}{5}message={4}{5}sms_type=2"/>
    <add key ="smsUserId" value="sujanmanikanta"/>
    <add key ="smsPassword" value="123456"/>
    <add key ="smsFrom" value="JVNJYT"/>
    <add key= "smsRegisterMsgTemplate" value="Dear+{0}.+Thank+you+for+registering+at+Jeevanjyothi.org.+Please+login+to+the+website+with+%0D%0A%0D%0Auserid%3A+{1}%0D%0Apassword%3A+{2}%0D%0A%0D%0AThank+you+once+again.%0D%0AJeevanjyothi.org"/>
    <add key= "defaultPassword" value="pass123"/>
  </appSettings>
  
  
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="jeevanjyothi_dbEntities" connectionString="metadata=res://*/Models.jjDbModel.csdl|res://*/Models.jjDbModel.ssdl|res://*/Models.jjDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.111;initial catalog=jeevanjyothi_db;integrated security=False;user id=common;password=Laks@5347;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="jeevanjyothi_dbEntities" connectionString="metadata=res://*/Models.jjDbModel.csdl|res://*/Models.jjDbModel.ssdl|res://*/Models.jjDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s1kxutf45h.database.windows.net,1433;initial catalog=jjbddb;integrated security=False;user id=Laks;password=sqlPassword@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>